#nav{
    width: 25vw;
    height: 85vh;

    margin-left: 25px;
    margin-right: 25px;

    position: relative;
    top: 100vh;
    right: 30vw;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav div{
    margin-top: 5vh;
    margin-bottom: 5vh;
}

