.App {
  text-align: center;
}

.App-logo {
  height: 8vh;
  width: 8vh;
  pointer-events: none;
  position: absolute;
  left: 2vw;
  top: 2.5vh;
}

header h1{
  color: white;
  position: absolute;
  left: 7vw;
  top: 2.1vh;
}

header .fecha{
  color: white;
  position: absolute;
  left: 93.4%;
  top: 2vh;
  font-size: 18px;
  letter-spacing: 2px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 12vh;
  display: block;
  position: relative;
  top: -20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




/* component/navigation */

